h1 {
  margin: 0;
  margin-left: 38%;
  color: #fff;
  font-size: 80px;
  font-family: "Indie Flower", cursive;
}

body {
  margin: 0;
  background: #000;
}

.circle {
  width: 30px;
  height: 30px;
  background: #ffd700 -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(0, #000));
  background: #ffd700 linear-gradient(to right, transparent 50%, #000 0);
  border-radius: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  z-index: 1;
  position: absolute;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-animation: run 15s linear infinite;
          animation: run 15s linear infinite;
}

.circle:before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: eat 1s alternate infinite;
          animation: eat 1s alternate infinite;
}

@-webkit-keyframes eat {
  0% {
    -webkit-transform: rotate(0.2turn);
            transform: rotate(0.2turn);
  }
  50% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(0.2turn);
            transform: rotate(0.2turn);
  }
}

@keyframes eat {
  0% {
    -webkit-transform: rotate(0.2turn);
            transform: rotate(0.2turn);
  }
  50% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(0.2turn);
            transform: rotate(0.2turn);
  }
}
@-webkit-keyframes run {
  0% {
    position: absolute;
    left: 9%;
    top: 7%;
  }
  25% {
    left: 88%;
    top: 7%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    left: 88%;
    top: 87%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    left: 9%;
    top: 87%;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    left: 9%;
    top: 7%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes run {
  0% {
    position: absolute;
    left: 9%;
    top: 7%;
  }
  25% {
    left: 88%;
    top: 7%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    left: 88%;
    top: 87%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    left: 9%;
    top: 87%;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  100% {
    left: 9%;
    top: 7%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.bg1 {
  position: fixed;
  background: #000;
  border: solid #004d99 2px;
  height: 60%;
  width: 60%;
  left: 20%;
  top: 20%;
}

.bg2 {
  position: absolute;
  background: #000;
  border: solid #004d99 2px;
  height: 60%;
  width: 60%;
  left: 20%;
  top: 20%;
}

.bg3 {
  position: absolute;
  background: #000;
  border: solid #004d99 2px;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
}

.bg4 {
  position: absolute;
  border: solid #004d99 2px;
  height: 70%;
  width: 70%;
  left: 15%;
  top: 15%;
}

[class*="ball"] {
  background: #ffb3e6;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  z-index: -3;
}

.all {
  z-index: -3;
  -webkit-animation: fade 1s infinite;
          animation: fade 1s infinite;
}

.ball1 {
  position: absolute;
  left: 10%;
  top: 9%;
}

.ball2 {
  position: absolute;
  left: 10%;
  top: 18%;
}

.ball3 {
  position: absolute;
  left: 10%;
  top: 27%;
}

.ball4 {
  position: absolute;
  left: 10%;
  top: 36%;
}

.ball5 {
  position: absolute;
  left: 10%;
  top: 45%;
}

.ball6 {
  position: absolute;
  left: 10%;
  top: 54%;
}

.ball7 {
  position: absolute;
  left: 10%;
  top: 63%;
}

.ball8 {
  position: absolute;
  left: 10%;
  top: 72%;
}

.ball9 {
  position: absolute;
  left: 10%;
  top: 81%;
}

.ball10 {
  position: absolute;
  left: 10%;
  top: 90%;
}

.balll1 {
  position: absolute;
  left: 90%;
  top: 9%;
}

.balll2 {
  position: absolute;
  left: 90%;
  top: 18%;
}

.balll3 {
  position: absolute;
  left: 90%;
  top: 27%;
}

.balll4 {
  position: absolute;
  left: 90%;
  top: 36%;
}

.balll5 {
  position: absolute;
  left: 90%;
  top: 45%;
}

.balll6 {
  position: absolute;
  left: 90%;
  top: 54%;
}

.balll7 {
  position: absolute;
  left: 90%;
  top: 63%;
}

.balll8 {
  position: absolute;
  left: 90%;
  top: 72%;
}

.balll9 {
  position: absolute;
  left: 90%;
  top: 81%;
}

.balll10 {
  position: absolute;
  left: 90%;
  top: 90%;
}

.bball1 {
  position: absolute;
  left: 20%;
  top: 9%;
}

.bball2 {
  position: absolute;
  left: 30%;
  top: 9%;
}

.bball3 {
  position: absolute;
  left: 40%;
  top: 9%;
}

.bball4 {
  position: absolute;
  left: 50%;
  top: 9%;
}

.bball5 {
  position: absolute;
  left: 60%;
  top: 9%;
}

.bball6 {
  position: absolute;
  left: 70%;
  top: 9%;
}

.bball7 {
  position: absolute;
  left: 80%;
  top: 9%;
}

.bbball1 {
  position: absolute;
  left: 20%;
  top: 90%;
}

.bbball2 {
  position: absolute;
  left: 30%;
  top: 90%;
}

.bbball3 {
  position: absolute;
  left: 40%;
  top: 90%;
}

.bbball4 {
  position: absolute;
  left: 50%;
  top: 90%;
}

.bbball5 {
  position: absolute;
  left: 60%;
  top: 90%;
}

.bbball6 {
  position: absolute;
  left: 70%;
  top: 90%;
}

.bbball7 {
  position: absolute;
  left: 80%;
  top: 90%;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.ghost {
  position: relative;
  width: 30%;
  height: 50%;
}

.ghost.r {
  left: 0%;
  top: 30%;
  -webkit-animation: ghostr 5s alternate infinite;
          animation: ghostr 5s alternate infinite;
}

.ghost.b {
  left: 35%;
  top: -22%;
  -webkit-animation: ghostb 4s alternate infinite;
          animation: ghostb 4s alternate infinite;
}

.ghost.p {
  left: 70%;
  top: -74%;
  -webkit-animation: ghostp 3s alternate infinite;
          animation: ghostp 3s alternate infinite;
}

.gh {
  position: absolute;
  width: 80%;
  height: 50%;
  top: 20%;
  left: 10%;
  border-radius: 50% 50% 0 0/ 100% 100% 0 0;
}

.gh.r {
  background: red;
}

.gh.b {
  background: blue;
}

.gh.p {
  background: pink;
}

.gh:after {
  content: "";
  position: absolute;
  width: 35%;
  height: 50%;
  bottom: -30%;
  left: 0%;
  border-radius: 50% 50% 50% 50%;
}

.gh:before {
  content: "";
  position: absolute;
  width: 35%;
  height: 50%;
  bottom: -30%;
  right: 0%;
  border-radius: 50% 50% 50% 50%;
}

.gh.p:before {
  background: pink;
}

.gh.p:after {
  background: pink;
}

.gh.r:before {
  background: red;
}

.gh.r:after {
  background: red;
}

.gh.b:before {
  background: blue;
}

.gh.b:after {
  background: blue;
}

.feet {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 56%;
  left: 35%;
  border-radius: 50% 50%;
}

.feet.p {
  background: pink;
}

.feet.r {
  background: red;
}

.feet.b {
  background: blue;
}

.eye {
  position: absolute;
  width: 30%;
  height: 50%;
  background: #fff;
  border-radius: 50%;
}

.eye.left {
  left: 20%;
  top: 25%;
}

.eye.right {
  left: 60%;
  top: 25%;
}

.eyee {
  position: relative;
  width: 50%;
  height: 50%;
  background: #000;
  border-radius: 50%;
  -webkit-animation: eye 2s alternate infinite;
          animation: eye 2s alternate infinite;
}

@-webkit-keyframes eye {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  75% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes eye {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  75% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@-webkit-keyframes ghostr {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 40%;
    top: 0%;
  }
  75% {
    left: 40%;
    top: 50%;
  }
  100% {
    left: 70%;
    top: 50%;
  }
}
@keyframes ghostr {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 40%;
    top: 0%;
  }
  75% {
    left: 40%;
    top: 50%;
  }
  100% {
    left: 70%;
    top: 50%;
  }
}
@-webkit-keyframes ghostb {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 0%;
    top: -30%;
  }
  75% {
    left: 20%;
    top: -30%;
  }
  100% {
    left: 20%;
    top: -50%;
  }
}
@keyframes ghostb {
  0% {
    left: 0%;
    top: 0%;
  }
  50% {
    left: 0%;
    top: -30%;
  }
  75% {
    left: 20%;
    top: -30%;
  }
  100% {
    left: 20%;
    top: -50%;
  }
}
@-webkit-keyframes ghostp {
  0% {
    left: 70%;
    top: -50%;
  }
  50% {
    left: 70%;
    top: -110%;
  }
  75% {
    left: 50%;
    top: -110%;
  }
  100% {
    left: 50%;
    top: -40%;
  }
}
@keyframes ghostp {
  0% {
    left: 70%;
    top: -50%;
  }
  50% {
    left: 70%;
    top: -110%;
  }
  75% {
    left: 50%;
    top: -110%;
  }
  100% {
    left: 50%;
    top: -40%;
  }
}